{% extends "networkapp/home.html"%}
{% block body_block %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-12 clo-sm-12">
            <h4>Add Device credential</h4>
            <hr />
            <p id="errormsg"></p>
            {% if result == True %}
            <div class='alert alert-success'><strong>Success ! </strong> Credetial saved</div>
            {% endif %}
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ device_credential_form |crispy }}
                <input type="submit" class="btn btn-success btn-md" value="Submit" />
                <input type="reset" class="btn btn-danger btn-md" value="Reset" />
            </form>
        </div>
    </div>
</div>
<script>
    function ipvalidation(ip) {
        if (ip != "") {
            var octet_list = ip.split('.');
            if ((octet_list.length == 4) && (octet_list[0] >= 1 && octet_list[0] <= 233) && (octet_list[0] != 127) && (octet_list[0] != 169 || octet_list[1] != 254) && ((octet_list[1] >= 0 && octet_list[1] <= 255) && (octet_list[2] >= 0 && octet_list[2] <= 255) && (octet_list[3] >= 0 && octet_list[3] <= 255)))
                document.getElementById("errormsg").innerHTML = "";
            else
                document.getElementById("errormsg").innerHTML = "<div class='alert alert-danger'><strong>Error</strong> Invalid ip address</div>";
        }
    }
</script>
{% endblock %}