{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <title>Man Hunt</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/light-bootstrap-dashboard.css' %}" rel="stylesheet" />
  <style type="text/css">
    body {
      background-image: url("{% static 'img/back-2847_1920.jpg' %}");
      background-color: transparent;
    }
  </style>
</head>
<body>
  <div class="container">
    {% block body_block %}
    {% endblock %}
  </div>
</body>
</html>