{% extends "networkapp/base.html"%}
{% block body_block %}
<div class="row">
      <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
        <div class="card card-signin my-5" style="background-color: transparent">
          <div class="card-body" >
            <h3 class="card-title text-center" style="color: white">CENTRALIZED NETWORK MANAGER</h3>
            <hr/>
            <form action="{% url 'networkapp:user_login' %}" method="post" class="form-signin">
             {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="username" name="username" style="text-align: center" class="form-control" placeholder="Enter Username" required autofocus>
              </div>
<br/>
              <div class="form-label-group">
                <input type="password" id="password" name="password" style="text-align: center" class="form-control" placeholder=" Enter Password" required>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
               </div>
              <button class="btn btn-md btn-success btn-block text-uppercase" id="signin" style="color: white;background-color:#28a745" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}